#!/bin/bash

alias kee='keepass2 ~/.password-store/Hehe.kdbx'      #Keepass
alias ded="shutdown -h now"                     #Shutdown
alias red="shutdown -h -r now"                  #Restart
alias up="sudo apt update && sudo apt upgrade"  #Update and upgrade
alias folder="nemo . &"                         #Open file manager from cli
alias x="exit"                                  #quick exit
alias Software="udisksctl mount --block-device=/dev/nvme0n1p5
cd /media/unnii/Softwares"
alias g="git"

#Show mounted drives
alias drives="mount | awk -F' ' '{ printf \"%s\t%s\n\",\$1,\$3; }' | column -t | egrep ^/dev/ | sort"


alias lsa="ls -la"						#list all
alias lsize='ls --human-readable --size -1 -S --classify'	#list in size order
alias ltime='ls -t -1'						#list in timestamp order

#Pass aliases
alias p_gh="pass -c dbs/github-master"
alias p_gl="pass -c dbs/gitlab-master"
alias p_bb="pass -c dbs/bitbucket-master"
alias p_unlock="pass unlock"
alias p_lock="gpgconf --kill gpg-agent"

#Misc
alias doOS="cd ~/Documents/Projects/OS/repo/112001053_112001057
git status"
alias doOCR="cd ~/Documents/Projects/OCR-indic/
code .
git status"
alias mlt="rlwrap sml"                          #Sml
